<div class="card mb-3" style="max-width: 640px;">
  <div class="row no-gutters">
    <div class="col-md-4" class="mt-5" >
      <img src="../assets/foto.jpg">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Carteira escolar</h5>
        <p class="card-text">nome: lucas menzen da silva</p>
        <p>escola: ETEC Prof. Horácio Augusto da Silveira</p>
        <div class="row">
          <div class="col">
            <p>RM: 221162</p>
          </div>
          <div class="col">
            <img src="../assets/qr.png">
          </div>
        </div>
        <p class="card-text"><small class="text-muted">Válido até 31/12/2024</small></p>
      </div>
    </div>
  </div>
</div>
